openapi: 3.0.1
info:
  title: Pegaso APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/pegaso/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/pegaso/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/pegaso/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /supplier:
    post:
      summary: Non PO Suppliers
      description: Non PO Suppliers
      tags: 
        - Non PO Suppliers
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
  /invoice:
    post:
      summary: Customer Invoice
      description: Customer Invoice
      tags: 
        - Customer
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
  /receipt:
    post:
      summary: Customer Receipt
      description: Customer Receipt
      tags: 
        - Customer
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
                    
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header